/* --------------------------------------------------------
A list of breakpoints
-------------------------------------------------------- */
$breakpoints: (
  base: 0px,
  small: 512px,
  medium: 768px,
  large: 1024px,
  huge: 1440px,
  massive: 1800px
) !default;
